<h1>New recipe</h1>
<hr>
<%= form_for @recipe, html: {multipart: true} do |f| %>
<div class="input-field col s6">
    <%= f.label :title %>
    <%= f.text_field :title, required: true %>
</div> 
<div class="input-field col s6">
    <%= f.label :category %>
    <%= f.text_field :category, required: true%>
</div>
<div class="input-field col s6">
    <%= f.label "Recipe Image" %>
    <%= f.file_field :image, required: true, class: 'fileInput'%>
</div>
    <hr>
    <div class="btnCenter">
         <%= f.submit 'Create Recipe', class: 'btn'%>
    </div>
<% end %>